---
---

<html>
<head>
  <title>Prayer Times</title>
</head>
<body>

<h1>Prayer Times</h1>

<p>Download this month's timetable:</p>

<a href="/timetable.pdf">Download PDF</a>

<br><br>

<a href="/">Back Home</a>

</body>
</html>